@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    color: #000000;
}

/* webpage headings, sub_logo and logo */

header {
    height: 17%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 5;
}

h1,
h2 {
    letter-spacing: 2px;
    font-weight: 200;
}

h1 {
    font-size: 180%;
    color: #4E130D;
    font-weight: bold;
}

h2 {
    font-size: 90%;
    color: #000000;
    font-style: oblique;
}

#headings {
    float: left;
}

#logo,
#sub_logo {
    margin: 30px 0 0 7px;
}

#sub_logo {
    margin-top: 1%;
    margin-left: 2.7%;
    margin-bottom: 2%;
}

/* navigation menu links*/

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: bold;
}

#menu a:active {
    font-weight: 700;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 37px 1px 1px 7px;
    padding: 0px 3px 0 0;
    border-right: 1px solid #000000;
}

#menu li:first-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: #4E130D;

}

#menu a:hover {
    border-bottom: 2px solid #000000;
}

.active {
    border-bottom: 2px solid #000000;
}

/*main image*/

#main_image {
    margin-bottom: -10px;
    overflow: hidden;
}

img {
    width: 100%;
}

/* cover text*/


#cover_text h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;

    width: 500px;
    height: 80px;

    padding-top: 60px;

    background-color: rgba(44, 10, 7, 0.9);
    border-radius: 5px;

    bottom: 5px;
    right: 30px;


    position: absolute;
}

/* creates zoom effect for cover text*/

#cover_text h2 {
    animation-name: video-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates amount of zoom for cover text */
@keyframes video-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}


/* ethos section headings and information text */

#ethos_section {
    height: 400%;
    width: 100%;
    background-color: rgb(217, 226, 215);
    margin-top: -10px;
}

.ethos_headings {
    color: #000000;
    font-size: 180%;
    font-style: normal;
    letter-spacing: 4px;
    font-weight: bold;

    padding-top: 3%;
    border-bottom: #000000 1px solid;
    width: 95%;
}

.ethos_paragraphs {
    color: #000000;
    font-style: normal;
    font-size: 100%;
    font-weight: 300;
    text-align: left;

    width: 90%;
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
}

#our_motivation,
#our_method,
#our_outcome {
    justify-content: space-around;
    margin-left: 5%;
    padding-top: 2%;
}

#our_outcome {
    padding-bottom: 6%;
}

#our_motivation {
    padding-top: 3.5%;
}


/* first image interval and win candle button*/

#image_interval {
    height: 50px;
    width: 100%;
    margin-top: -10px;
    padding-top: 15%;

    background-image: url('https://images.pexels.com/photos/7303281/pexels-photo-7303281.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#button {
    width: 160px;
    height: 40px;
    background-color: #627559;
    border-radius: 45px;
    border: 2px solid rgb(147, 180, 149);

    margin-top: 14%;
    margin-left: 42%;
    padding: 15px 40px 15px 40px;

}

#image_interval a {
    color: #000000;
    text-decoration: none;
    font-size: 110%;
}

/* something to listen to section titles*/

#something_to_section {
    height: 500%;
    width: 100%;
    clear: left;
    background-color: rgb(230, 248, 230);
}

#something_to_listen_to_title {
    font-size: 200%;
    font-style: normal;
    width: 90%;
    color: #000000;
    font-weight: bold;

    margin-left: 5%;
    padding-top: 8%;
    padding-bottom: 1.5%;
    border-bottom: 1px solid #000000;
}

#audio_titles {
    color: #000000;
    font-weight: 500;
    font-style: normal;
    font-size: 90%;

    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 50px;
}

h3 a {
    color: #000000;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
}

/* something to listen to section videos */

#ted_talk,
#lofi,
#nature_sounds {
    margin-left: 45px;
    display: inline-block;
    margin-right: 1%;
}

#ted,
#lofi_hiphop,
#nature {
    border-radius: 15px;
    border: 3px solid #000000;
    height: 300px;
    width: 350px;
}


/*animates zoom effect on hovering over videos */
#ted_talk:hover,
#lofi:hover,
#nature_sounds:hover {
    animation-name: video-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates amount of zoom for videos */
@keyframes video-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* something to listen to section video descriptions*/

#ted_talk p,
#lofi p,
#nature_sounds p
 {
    font-size: 90%;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* get ready left and right sections*/

#get_ready {
    height: 800px;
    background-color: rgb(217, 226, 215);
    padding-bottom: 5%;
}

#left_side {
    padding-top: 80px;
    width: 30%;
    float: left;
    margin-bottom: -10px;
}

#left_side p {
    font-size: 90%;
    font-weight: 600;
    font-style: oblique;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
}

#right_side {
    padding-top: 80px;
    width: 30%;
    float: right;
    margin-bottom: -10px;
}

#right_side p {
    font-size: 90%;
    font-weight: 600;
    font-style: oblique;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left_side_heading {
    width: 60%;
    float: right;
    clear: both;
    color: #000000;

}

.left_side_heading h2 {
    font-size: medium;
    font-weight: 600;
}

.left_side_heading p {
    font-style: normal;
    text-align: left;
}


.right_side_heading {
    width: 60%;
    float: left;
    clear: both;
    color: #000000;
}

.right_side_heading h2 {
    text-align: right;
    font-size: medium;
    font-weight: 600;
}

.right_side_heading p {
    text-align: right;
}

.get_ready_title {
    font-size: 210%;
    letter-spacing: 6px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 1%;
}

#get_ready hr {
    width: 95%;
    margin-left: 2%;
}

#get_ready_title1 {
    margin-left: 4%;

    width: 39%;
    text-align: left;
    padding-top: 6%;
}

#get_ready_title2 {

    width: 43%;
    text-align: right;
    margin-left: 52%;
    margin-top: -56px;

}

/* get ready section image and container*/

#photo_container {
    width: 300px;
    height: 400px;
    padding: 60px;
    background-color: rgba(123, 75, 70, 0.7);
    border-width: 1px;
    margin: 0 auto;
    margin-top: 7%;
    border: 0.5px solid #5c1f19;
    border-radius: 2px;
}

#photo_container:hover {
    animation-name: photo-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes photo-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#get_ready_photo {
    background: url('../css/images/pexels-photo-6446680.jpeg') no-repeat center center;
    height: 100%;
    width: 90%;
    background-size: contain;
    margin: 0 auto;

}

/* second image interval*/
#image_interval2 {
    height: 250px;
    width: 100%;
    margin-top: -10px;

    background-image: url('https://images.pexels.com/photos/7303281/pexels-photo-7303281.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* sign up page*/

#get_started {
    color: #000000;
    font-size: 140%;
    padding-top: 70px;
    padding-left: 80px;
    font-weight: 700;

}

#get_started_sub {
    color: #000000;
    padding-left: 80px;
    font-weight: 700;
    padding-top: 20px;
}

#sign_up_section hr {
    width: 90%;
    margin-left: 70px;
    margin-bottom: 60px;
}

.fill_in_section {
    clear: left;
    background-color: rgb(230, 248, 230);
    height: 900px;
    width: 100%;
}

.sign_up_form {

    color: #000000;
    background-color: rgba(123, 75, 70, 0.8);
    border: 2px solid #000000;
    max-width: 800px;
    position: absolute;
    left: 20%;
    padding: 30px;
    border-radius: 3px;
}

.sign_up_form>h2 {
    color: #000000;
    margin-bottom: 20px;
}

.text_input {
    background: white;
    color: #000000;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    border: white;

    font-size: 110%;
    letter-spacing: 1px;
}

label {
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: bold;
}

.text_input:hover {
    border: 2px solid #4E130D;
}

#special_message {
    height: 60px;
}

#candle_scent {
    height: 25px;
    width: 30%;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 30px;
}

.join_button {
    margin-top: 60px;
    border-radius: 45px;
    padding: 15px 70px 15px 70px;
    text-align: center;
    font-size: 100%;
    background-color: #4E130D;
    color: antiquewhite;
    display: block;
}

.join_button:hover {
    background-color: antiquewhite;
    color: #4E130D;


}

/* footer */

footer {
    height: 12%;
    width: 100%;
    background-color: white;
}

.social_links {
    text-align: center;
    background-color: white;
}

.social_links i {
    color: #000000;
    font-size: 150%;
    padding: 10px 0 0 5px;
}

.social_links li {
    display: inline;
}

#footer li a {
    padding-left: 40px;
    padding-right: 50px;
}

#footer_text {
    color: #000000;
    font-style: oblique;
    font-size: 80%;
    text-align: center;
    background-color: white;
    letter-spacing: 2px;
}

/* media queries */

/* for large to medium screens size from 1115px wide and smaller */

@media screen and (max-width: 1115px) {



    #get_started {
        padding-left: 40px;
    }

    #get_started_sub {
        padding-left: 40px;
    }

    #sign_up_section hr {
        margin-left: 40px;
    }

    .sign_up_form {
        left: 10%;
    }

    #ted,
    #lofi_hiphop,
    #nature {
        height: 230px;
        width: 240px;
    }

    #ted_talk {
        width: 210px;
        margin-left: 10%;
        margin-right: 4.5%;
    }

    #get_ready_title1 {
        padding-bottom: 1.5%;
    }
}

/* for large to medium screens size from 1100px wide and smaller */

@media screen and (max-width: 1100px) {

    #photo_container {
        width: 200px;
        height: 300px;
    }

    .get_ready_title {
        font-size: 150%;
    }

    #get_ready_title1 {
        padding-bottom: 2.5%;
    }
}

/* for medium screens size from 1007px wide and smaller */

@media screen and (max-width: 1007px) {

    #ted_talk {
        margin-left: 7%;
    }

    .sign_up_form {
        left: 6%;
    }
}

/* for medium screens size from 950px wide and smaller */

@media screen and (max-width: 950px) {

    #ted_talk {
        margin-left: 4%;
    }

    .sign_up_form {
        left: 17%;
        max-width: 500px;
    }

    #ted_talk,
    #lofi,
    #nature_sounds,
    p {
        margin-bottom: 35px;
    }

    #something_to_listen_to_title {
        font-size: 150%;
    }

    #ethos_headings {
        font-size: 150%;
    }

    #cover_text h2 {

        font-size: 90%;

        width: 350px;
        height: 50px;
        padding-top: 20px;

        bottom: 155px;
        right: 25px;
    }

}

/* for medium screens size from 914px wide and smaller */

@media screen and (max-width: 914px) {

    .sign_up_form {
        max-width: 400px;
    }

    #photo_container {
        width: 150px;
        height: 250px;
        margin-top: 20%;
    }

    .get_ready_title {
        font-size: 110%;
    }

    #get_ready_title1 {
        padding-bottom: 4%;
    }

    #ted_talk,
    #lofi,
    #nature_sounds {
        width: 220px;
        margin-left: 35px;
        margin-right: 10px;
    }

}

/* for medium screens size from 720px wide and smaller */

@media screen and (max-width: 720px) {

    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 65%;
    }

    #menu {
        font-size: 70%;

    }

    #cover_text h2 {

        font-size: 70%;

        width: 300px;
        height: 30px;
        padding-top: 20px;

        bottom: 195px;
        right: 30px;
    }

    .ethos_headings {
        font-size: 140%;
    }

    .ethos_paragraphs {
        font-size: 80%;
    }

    #button {
        margin-left: 37%;
    }

    #ted_talk,
    #lofi,
    #nature_sounds {
        display: inline;
    }

    #ted_talk p,
    #lofi p,
    #nature_sounds p {
        text-align: left;
        margin-left: 30px;

    }

    .get_ready_title {
        font-size: 100%;
    }

    #get_ready_title1 {
        padding-bottom: 5.2%;
    }

    #ted_talk,
    #lofi,
    #nature_sounds,
    p {
        font-size: 80%;
    }

    #get_started {
        font-size: 120%;
    }

    #get_started_sub {
        font-size: 100%;
    }

    .sign_up_form {
        max-width: 350px;
    }

    label {
        font-size: 80%;
    }

    .join_button {
        margin-top: 20px;
    }

    #footer_text {
        font-size: 70%;
    }
}
