@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 150;
    color: #000000;
    background-color: #E1F1E3;
}

/* heading sub_logo and logo */

h1,
h2 {
    font-family: Libre Baskerville, sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
}

h1 {
    font-size: 150%;
    color: #4E130D;
}

h2 {
    font-size: 80%;
    color: #000000;
    font-style: oblique;
}

#headings {
    float: left;
}

#logo,
#sub_logo {
    margin: 10px 0 0 7px;
}

#sub_logo {
    margin-top: 0.5%;
    margin-left: 2.7%;
    margin-bottom: 2%;
}

/* navigation menu links*/

#menu {
    font-size: 80%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 15px 1px 1px 7px;
    padding: 0px 3px 0 0;
    border-right: 1px solid #000000;
}

#menu li:first-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: #4E130D;

}

#menu a:hover {
    border-bottom: 2px solid #000000;
}

.active {
    border-bottom: 2px solid #000000;
}

/* header image */

#header_image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../css/images/project\ one\ pic.jpg') no-repeat center center;
    background-size: contain;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

/* cover text*/


#cover_text h2 {
    color: white;
    font-style: oblique bold;
    float: right;
    text-align: center;

    width: 250px;
    height: 30px;

    padding: 10px 10px 10px 10px;

    background-color: rgba(123, 75, 70, 0.7);

    bottom: 50px;
    right: 350px;

    position: absolute;
}

/* ethos sections */

#ethos_section {
    height: 400px;
    width: 100%;
}

.ethos_headings {
    color: #4E130D;
    font-size: 125%;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ethos_paragraphs {
    color: #000000;
    font-style: normal;
    font-size: 90%;
    text-align: center;
    width: 400px;
    height: 80px;
}

#our_motivation {
    float: left;
    margin: 15px 0 0 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#our_method {
    float: left;
    margin: 5px 50px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

}

#our_outcome {
    float: left;
    margin: 5px 0 0 10px;
    margin-top: 190px;
    margin-right: 10px;
}

/* better section*/


#better_section {
    border: 2px solid #000000;
    border-left: none;
    border-right: none;

    background-color: rgba(123, 75, 70, 0.7);
    height: 200px;
    width: 100%;
}

#better,
li {
    font-size: 130%;
    text-align: center;
    letter-spacing: 4px;
    display: flex;

    margin-right: 60px; 
    margin-left: 100px;
    margin-top: 40px;
}

/* something to listen to section*/

#something_to_section {
    height: 600px;
    width: 100%;

    border-bottom: 1px solid #000000;
}

#something_to_listen_to_title {
    text-decoration: underline 1px solid #000000;
    font-size: 170%;
    font-style: normal;
    font-weight: 500;
    color: #4E130D;

    margin-left: 450px;
    margin-top: 50px;
}

#audio_titles {
    color: #000000;
    font-weight: 500;
    font-style: oblique;
    font-size: 100%;

    margin-left: 540px;
    margin-top: 10px;
    margin-bottom: 90px;
}

#audio_titles:hover {
    font-weight: 600;
}

/* videos */

#ted_talk,
#lofi,
#nature_sounds {
    line-height: 70px;
    padding: 30px;
    margin-left: 25px;

}

/* get ready section*/

#get_ready {
    height: 600px;
    border-bottom: 1px solid #000000;
}

#left_side {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right_side {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left_side_heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right_side_heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right_side_heading h2 {
    text-align: right;
}

.right_side_heading p {
    text-align: right;
}

#get_ready_title {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#photo_container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#get_ready_photo {
    background: url('../css/images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
