@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 150;
    color: #000000;
    background-color: #E1F1E3;
}

/* heading sub_logo and logo */

h1,
h2 {
    font-family: Libre Baskerville, sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
}

h1 {
    font-size: 150%;
    color: #814032;
}

h2 {
    font-size: 80%;
    color: #000000;
    font-style: oblique;
}

#headings {
    float: left;
}

#logo,
#sub_logo {
    margin: 10px 0 0 7px;
}

#sub_logo {
    margin-top: 0.5%;
    margin-left: 2.7%;
    margin-bottom: 2%;
}

/* navigation menu links*/

#menu {
    font-size: 80%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 15px 1px 1px 7px;
    padding: 0px 3px 0 0;
    border-right: 1px solid #000000;
}

#menu li:first-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: #814032;

}

#menu a:hover {
    border-bottom: 2px solid #000000;
}

.active {
    border-bottom: 2px solid #000000;
}

/* header image */

#header_image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../css/images/project\ one\ pic.jpg') no-repeat center center;
    background-size: contain;  
}
